{% extends 'base/layout-main.html.twig' %}

{% block title %}Editar - Su cuenta - {{ parent() }}{% endblock %}

{% block content_center %}

    <div class="row align-items-center mb-3 mb-xl-5">
      <div class="col-md mb-2 mb-md-0">
        <h1 class="h3 mb-0">Editar {{ app.user.username }}</h1>
      </div>
      <div class="col-md ml-md-auto text-md-right">


        <a class="btn btn-soft-primary btn-sm float-right" style="margin-right:15px;" href="{{ path('fos_user_change_password') }}">
          <i class="nova-shield icon-text align-middle mr-1"></i>
          Editar Contraseña
        </a>

        <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('fos_user_profile_show') }}">
          <i class="nova-angle-left icon-text align-middle mr-1"></i> &nbsp; Ver cuenta
        </a>

      </div>
    </div>

    {{ include('base/_flash.html.twig') }}
    
    <div class="card">
      <div class="card-body">

        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
            {{ form_widget(form) }}
            <hr>
            <button class="btn btn-sm btn-outline-success">Guardar cambios</button>
        {{ form_end(form) }}

      </div>
    </div>

{% endblock %}
